---
layout: home
title: Branding Guidelines and Resources
body_class: p-home
---

<header class="c-intro__container" markdown="1">
  <div class="c-logo__container">
    <img src="../images/logo-white.svg" alt="Azavea logo">
  </div>

# Branding Guidelines and Resources
</header>

<div class="c-block__container" markdown="1">
{% include block.html
  title = "Become an Azavea ambassador"
  description = "Learn about what makes us Azavea, from our mission to our partners to the community groups we support."
  link-title = "Identity"
  link = "/identity/"
%}

{% include block.html
  title = "Learn to talk the talk"
  description = "Whether you’re writing social media posts or a blog, we have some advice to help you communicate the Azavea way."
  link-title = "Communication"
  link = "/communication/"
%}

{% include block.html
  title = "Get set up for design"
  description = "Read style guides for brand components and download assets like logos, color palettes, and print templates."
  link-title = "Design"
  link = "/design/"
%}

{% include block.html
  title = "Add to your toolbox"
  description = "Explore helpful resources like links to external tools, internal how-to guides, and sample downloads."
  link-title = "Resources"
  link = "/resources.html"
%}
</div>

<div class="u-margin-bottom-double"><a href="{{ "/welcome.html" | prepend: site.baseurl }}" class="c-btn">Enter guide</a></div>
