---
layout: home
title: Branding Guidelines and Resources
body_class: p-home
---

<header class="c-intro__container" markdown="1">
  <div class="c-logo__container" markdown="1">
  {% include logo.svg %}
  {: .c-logo__white .c-logo }
  </div>

# Branding Guidelines and Resources
</header>

<div class="c-block__container" markdown="1">
{% include block.html
  title = "Write a killer blog post"
  description = "Whether you&rsquo;re writing for one of our products or detailing your 
                 RnD project&rsquo;s outcomes, we have some advice from over the years 
                 to help you craft your post."
  link-title = "Voice and Tone"
  link = "/communication/voice-and-tone.html"
%}

{% include block.html
  title = "Contribute to Azavea&rsquo;s identity"
  description = "Find out do&rsquo;s and don&rsquo;ts for using the Azavea logo, access color 
                 specs and check out how we deal with the Azavea brand across platforms."
  link-title = "Design"
  link = "/design/"
%}

{% include block.html
  title = "Craft the perfect presentation"
  description = "Download assets for your presentation and get some tips on how to deliver 
                 a captivating speech."
  link-title = "Presentations"
  link = "/presentations.html"
%}

{% include block.html
  title = "Add to your toolbox"
  description = "We&rsquo;ve compiled some resources for everything you may need to do as an 
                 employee of Azavea, whether it be checking the accesibility of your website 
                 or locating best practices for PRs."
  link-title = "Resources"
  link = "/resources.html"
%}
</div>

<div class="u-margin-bottom-double"><a href="{{ "/welcome.html" | prepend: site.baseurl }}" class="c-btn">Enter guide</a></div>