<a href="{{ subpage.href | prepend: site.baseurl }}" class="c-card ">
  <div class="c-card__body">  
    {% if subpage.kicker %}
    <div class="c-card__kicker">
      {{ subpage.kicker }}
    </div><!--end c-card__kicker-->
    {% endif %}

    <h2 class="c-card__title">
      <span class="c-card__title-text">{{ include.title }}</span>
      <i class="c-icon c-card__icon icon-right-open"></i>
    </h2><!-- end c-card__title -->
    <p class="c-card__desc">{{ include.description }}</p>
  </div><!-- end c-card__body -->
</a><!-- end c-card -->
