{% assign sorted_pages = "" | split: "" %}
{% for nav in site.data.nav %}
  {% if nav.href contains ".html" %}
    {% assign sorted_pages = sorted_pages | push: nav %}
  {% endif %}

  {% if nav.subpages %}
    {% for subnav in nav.subpages %}
      {% assign sorted_pages = sorted_pages | push: subnav %}
    {% endfor %}
  {% endif %}
{% endfor %}

{% for item in sorted_pages %}
  {% if item.href == page.url %}
    {% assign this_i = forloop.index0 %}
    {% assign num_of_pages = forloop.length %}
    {% assign last_i = forloop.length | minus: 1 %}
    {% assign next_i = forloop.index0 | plus: 1 %}
    {% assign prev_i = forloop.index0 | minus: 1 %}
  {% endif %}
{% endfor %}

<!-- Hide the footer if there's no next/prev pages -->
{% if prev_i >= 0 or num_of_pages > next_i %}
<footer class="c-footer" role="contentinfo">
  <ul class="c-footer-nav">
    <!-- If there’s a previous page, display the previous link. Don’t loop. -->
      {% if prev_i >= 0 %}
      <li class="c-footer-nav__item c-footer-nav__item--prev">
        <a class="c-footer-nav__link" href="{{ sorted_pages[prev_i].href }}">
          <i class="far fa-long-arrow-left"></i>
          <!-- Display subpage group titles -->
          {% if sorted_pages[prev_i].group %}
            {{ sorted_pages[prev_i].group }}:
          {% endif %}
          {{ sorted_pages[prev_i].title }}
        </a>
      </li>
      {% endif %}

      <!-- If there’s a next page, display the next link. Don’t loop. -->
      {% if num_of_pages > next_i %}
      <li class="c-footer-nav__item c-footer-nav__item--next">
        <a class="c-footer-nav__link" href="{{ sorted_pages[next_i].href }}">
          <!-- Display subpage group titles -->
          {% if sorted_pages[next_i].group %}
            {{ sorted_pages[next_i].group }}:
          {% endif %}
          {{ sorted_pages[next_i].title }}
          <i class="far fa-long-arrow-right"></i>
        </a>
      </li>
      {% endif %}
  </ul>
</footer>
{% endif %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.0/clipboard.min.js"></script>
<script src="{{ "/js/style-guide.js" | prepend: site.baseurl }}"></script>

<script>
$(document).ready(function() {
  $('#tipue_search_input').tipuesearch({
    'mode': 'static',
    'show': 10,
    'contentLocation': '{{ SITEURL }}/tipuesearch_content.json',
    'showURL': false,
    'showTitleCount': false,
    'showTime':false
  });
});
</script>
