{% if page.layout != 'post' %}
{% assign sorted_pages2 = site.pages | sort: 'order' %}
{% else %}
{% assign sorted_pages2 = site.posts reversed %}
{% endif %}

{% assign sorted_pages = "" | split: "" %}
{% for item in sorted_pages2 %}
  {% if item.url != "/404.html" %}    
    {% assign sorted_pages = sorted_pages | push: item %}
  {% endif %} 
{% endfor %}

{% for item in sorted_pages %}
  {% if item.url == page.url %}
    {% assign this_i = forloop.index0 %}
    {% assign num_of_pages = forloop.length %}
    {% assign last_i = forloop.length | minus: 1 %}
    {% assign next_i = forloop.index0 | plus: 1 %}
    {% assign prev_i = forloop.index0 | minus: 1 %}
  {% endif %}
{% endfor %}


<footer class="c-footer" role="contentinfo">
  <ul class="c-footer-nav">
    <li class="c-footer-nav__item"><a class="next c-footer-nav__link" href="{% if prev_i < 0 %}{{ sorted_pages[last_i].url }}{% else %}{{ sorted_pages[prev_i].url }}{% endif %}"><i class="c-icon icon-left"></i> {% if prev_i < 0 %}{{ sorted_pages[last_i].title }}{% else %}{{ sorted_pages[prev_i].title }}{% endif %}</a></li>
    <li class="c-footer-nav__item"><a class="next c-footer-nav__link" href="{% if num_of_pages > next_i %}{{ sorted_pages[next_i].url }}{% else %}{{ sorted_pages[0].url }}{% endif %}">{% if num_of_pages > next_i %}{{ sorted_pages[next_i].title }}{% else %}{{ sorted_pages[0].title }}{% endif %} <i class="c-icon icon-right"></i></a></li>
  </ul>
</footer><!--end c-footer-->

<script src="{{ "/js/vendor/jquery-3.1.0.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/vendor/prism.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/vendor/iframe-resizer.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/vendor/clipboard.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/style-guide.js" | prepend: site.baseurl }}"></script>
