<header class="c-header" role="banner">
  <div class="c-header__inner">
    {% include logo.html %}

    <form action="{{ site.baseurl }}/search">
      <div class="c-search">
        <i class="c-search__icon fal fa-search"></i>
        <input type="text" name="q" id="tipue_search_input" pattern=".{3,}" title="At least 3 characters" required>
      </div>
    </form>

    {% if page.body_class != "p-home" %}<button class="c-btn c-btn--small c-header__nav-btn js-nav-trigger">Menu</button>{% endif %}
  </div><!--end c-header__inner-->
</header><!--end c-header-->