<nav class="c-primary-nav" role="navigation">
	<ul class="c-primary-nav__list c-primary-nav__list--flush" role="tablist" aria-multiselectable="true">
	{% for nav in site.data.nav %}
    {% if nav.subpages != null %}
      <li class="c-primary-nav__item {% if page.url contains nav.href %}is-active{% endif %}">
        <a href="{{ nav.url | prepend: site.baseurl }}" class="c-primary-nav__link c-primary-nav__link--has-children js-nav-dropdown-trigger {% if page.url contains nav.href %} is-active is-current{% endif %}">
        	<span class="c-primary-nav__text">{{ nav.title }}</span>
          <i class="c-primary-nav__icon fal fa-chevron-right"></i>
        </a>
        <ul class="c-primary-nav__sublist js-nav-dropdown {% if page.url contains nav.href %} is-active{% endif %}">
        {% for subpage in nav.subpages %}
          <li class="c-primary-nav__item">
          	<a class="c-primary-nav__link {% if page.url == subpage.href %}is-active is-current{% endif %}" href="{{ subpage.href | prepend: site.baseurl }}">{{ subpage.title }}</a>
          </li>
        {% endfor %}
        </ul>
      </li>
    {% else %}
      <li class="c-primary-nav__item">
        <a href="{{ nav.href | prepend: site.baseurl }}" class="c-primary-nav__link {% if page.url == nav.href %}is-active is-current{% endif %}">{{ nav.title }}</a>
      </li>
    {% endif %}
  {% endfor %}
	</ul>

	<div class="c-guide-info">
		{% for post in site.posts limit:1 %}
		  <a href="{{ post.url }}"
		  	 class="c-guide-info__link {% if post.url == page.url %}is-current{% endif %}">
		  	 {{ post.title }}
		  	</a>
		{% endfor %}
		<a href="{{ "/release-history" | prepend: site.baseurl}}"
			 class="c-guide-info__link {% if page.url == '/release-history' %}is-current{% endif %}">
			 Release History</a>
    <a href="https://www.azavea.com"
       class="c-btn c-guide-info__link c-guide-info__azavea-link">
       Go to azavea.com
      <i class="far fa-external-link"></i>
    </a>
	</div>
</nav><!-- end c-nav -->
