.p-home {
  background: linear-gradient(-45deg, darken($background-inverted, 8%), $background-inverted);;
  color: $font-color-inverted;
  @include anti-alias();

  .c-intro__container {
    margin-bottom: $pad-spacious;

    @media all and (min-width: $bp-small-3) {
      text-align: center;
      margin-bottom: $pad-large;
    }

    h1 {
      font-size: $font-size-display;
    }
  }

  .c-logo__container {
    max-width: 20rem;
    margin: 0 auto;
    display: none;

    @media all and (min-width: $bp-small-3) {
      display: block;
    }

    &:after {
      content: "";
      display: block;
      margin: $pad-comfortable auto;
      width: 5rem;
      height: 2px;
      background-color: $color-border-inverted;
    }
  }

  .u-margin-bottom-double {
    padding: 0 0 $pad-spacious;

    @media all and (min-width: $bp-small-3) {
      padding: 0 $pad-spacious;
    }

    @media all and (min-width: $bp-med) {
      display: flex;
      justify-content: flex-end;
    }

    .c-btn {
      width: 100%;

      @media all and (min-width: $bp-med) {
        width: auto;
      }
    }
  }

  .c-block__container {
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-around;
    max-width: 85rem;
  }

  .c-block {
    display: flex;
    flex: 1 1 auto;
    justify-content: space-around;
  }

  .c-block__image-container {
    flex: 1 1 20rem;
    margin-left: $pad-comfortable;
  }

  .c-block__content {
    flex: 1 1 auto;
    margin: $pad-spacious;

    @media all and (max-width: $bp-small-3) {
      margin: 0 0 $pad-spacious;
      max-width: auto;
    }

    @media all and (min-width: $bp-med) {
      max-width: 30rem;
    }
  }

  .c-block__title {
    font-size: $font-size-med-2;
    font-weight: 500;
    margin-bottom: $pad-medium;
  }

  .c-block__description {
    margin-bottom: $pad-medium;
  }

  .c-block__link {
    color: $link-color-inverted;

    &:after {
      content: "\E810";
      display: inline-block;
      font-family: $font-icon;
      font-size: 0.75rem;
      margin-left: 0;
      opacity: 0;
      width: 0;
      transition: margin-left 0.15s, opacity 0.15s;
    }
    
    &:hover, &.hover,
    &:focus, &.focus {
      &:before {
        bottom: -0.3rem;
      }

      &:after {
        color: inherit;
        opacity: 1;
        width: auto;
        margin-left: $pad-compact;
      }
    }
  }
}
