.c-mark-container {
  display: flex;
  flex-wrap: wrap;

  @media all and (min-width: $bp-small) {
    flex-wrap: nowrap;
  }

  .c-image-container {
    flex: 0 100%;
    position: relative;
    padding: 0;

    @media all and (min-width: $bp-small) {
      flex: 0 48%;

      &:first-child {
        margin-right: 2%;
      }
    }

    .c-image {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      left: 0;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 50%;
      }
    }

    &:after {
      content: "";
      display: block;
      padding-bottom: 100%;
    }
  }
}

.c-logo--smallest {
  width: 85px;
}

ul.c-list--logo-donts {
  list-style-type: none;
  margin-left: 0;

  li {
    background: white;
    border: 1px solid $color-gray-200;
    padding: $pad-normal;
    margin-bottom: $pad-normal;

    @media all and (min-width: $bp-small-2) {
      padding: $pad-medium;
    }
  }

  li p {
    margin-bottom: 0;

    @media all and (min-width: $bp-small-2) {
      display: flex;
      align-items: center;
    }
  }

  img {
    width: 100%;
    display: block;
    border: 1px solid $color-gray-100;

    @media all and (min-width: $bp-small-2) {
      width: 175px;
    }
  }
}

.c-list--explanation {
  display: block;
  padding: $pad-normal 0 0 0;

  @media all and (min-width: $bp-small-2) {
    padding: 0 0 0 $pad-normal;
  }
}