/*------------------------------------*\
    #COLOR PATCH
\*------------------------------------*/

/**
 * Visible color block
 */
.c-color-patch__block {
  border-radius: $border-radius;
  width: 100%;
  
  &:after {
    content: "";
    display: block;
  }
}

/**
 * Card is a square
 */
.c-color-patch__card {
  .c-color-patch__block {

    &:after {
      padding-bottom: 100%;
    }
  }
}

/**
 * Row is a rectangle
 */
.c-color-patch__row {
  .c-color-patch__block {

    &:after {
      padding-bottom: 50%;
    }
  }
}

/**
 * General block styles
 */
.c-color-patch {
  background-color: $color-white;
  border: 1px solid $color-gray-200;
	padding: $pad-normal;
}

.c-color-patch__type {
  color: $color-gray-500;
  font-size: $font-size-sm;
  font-weight: $font-weight-semibold;
}

.c-color-patch__hex {
  .c-color-patch__value {
    text-transform: lowercase;
  }
}

/**
 * Card-style color patch styles
 */
.c-color-patch__card {
  display: inline-block;
  width: 100%;
  margin: 0 0 $pad-medium 0;

  @media all and (min-width: $bp-small) {
    width: 49%;
    margin: 0 0.5% $pad-medium 0;

    &:nth-child(odd) {
      margin: 0 0 $pad-medium 0;
    }
  }

  @media all and (min-width: $bp-med) {
    width: 32.33%;
    margin: 0 0.33% $pad-compact 0;

    &:last-child {
      margin: 0 0 $pad-compact 0;
    }
  }

  .c-color-patch__column {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: $pad-compact 0;
  }

  .c-color-patch__name {
    border-bottom: 1px solid $color-gray-200;
    margin-top: $pad-compact;

    .c-color-patch__type {
      display: none;
    }

    .c-color-patch__value {
      color: $color-black;
      font-size: $font-size-med;
      font-weight: $font-weight-normal;
    }
  }
}

/**
 * Row-style color patch styles
 */
.c-color-patch__row {
  margin-bottom: $pad-normal;

  @media all and (min-width: $bp-small) {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  @media all and (min-width: $bp-med) {
    flex-wrap: nowrap;
  }

  .c-color-patch__block {
    height: 65px;
    margin-bottom: $pad-normal;

    @media all and (min-width: $bp-small) {
      margin-bottom: 0;
      flex: 0 30%;
    }

    @media all and (min-width: $bp-med) {
      height: auto;
      flex: 0 0 85px;
      margin-right: $pad-normal;
    }
  }

  .c-color-patch__column {
    flex: 1;

    @media all and (max-width: $bp-small) {
      padding: $pad-compact 0;
      display: flex;
      justify-content: space-between;
      align-items: baseline;
    }

    @media all and (min-width: $bp-small) and (max-width: $bp-med) {
      flex: 0 33.33%;
      margin-right: 0;
      margin-top: $pad-normal;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  .c-color-patch__name {
    @media all and (max-width: $bp-small) {
      border-bottom: 1px solid $color-gray-200;    
      padding-top: 0;

      .c-color-patch__type {
        display: none;
      }
    }

    @media all and (min-width: $bp-small) and (max-width: $bp-med) {
      flex: 0 50%;
      padding-left: $pad-normal;
      margin-top: 0;
      margin-right: 0;
    }

    @media all and (min-width: $bp-med) {
      flex: 1 20%;
    }
  }
}