/*------------------------------------*\
    #Download block
\*------------------------------------*/

/**
 * Visible color block
 */
.c-download__container {
  display: flex;
  flex-flow: row wrap;
}

/**
 * Visible download block
 */
.c-download-block {
  border-radius: $border-radius;
  width: 100%;
}

/**
 * General block styles
 */
.c-download-block {
  background-color: $color-white;
  border: 1px solid $color-gray-200;
	padding: $pad-compact;
  font-weight: $font-weight-normal;
}

/**
 * Card-style layout styles
 */
.c-download-block {
  text-align: center;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  margin: 0 0 $pad-medium;

  @media all and (min-width: $bp-small) and (max-width: $bp-med) {
    flex: 0 1 48%;
    margin: 0 2% $pad-medium 0;

    &:nth-child(even) {
      margin-right: 0;
    }
  }

  @media all and (min-width: $bp-med) and (max-width: $bp-large) {
    flex: 0 1 32%;
    margin: 0 1.33% $pad-medium 0;

    &:nth-child(3n) {
      margin-right: 0;
    }
  }

  @media all and (min-width: $bp-large) {
    flex: 0 1 24%;
    margin-right: 1%;
    margin-bottom: $pad-medium;

    &:nth-child(4n) {
      margin-right: 0;
    }
  }

  &:last-child {
    margin-right: 0;
  }
}

.c-download-block__header {
  font-size: $font-size-sm-2;
}

.c-download-block__image-container {
  margin-bottom: $pad-normal;
}

.c-download-block__image {
  width: 4rem;
  margin: 0 auto;
}

.c-download-block__generic-icon {
  color: $color-gray-400;
  font-size: 4rem;
  line-height: 0;
}