/*------------------------------------*\
    #FOOTER NAVIGATION
\*------------------------------------*/

/**
 * 1) Navigation within the footer
 */
.c-footer-nav {
	display: flex;
	flex: 1 0 100%;
	justify-content: space-between;
	font-size: $font-size-sm-2;
}

/**
 * Footer navigation button
 * Align to the right even if --prev button is missing
 */
.c-footer-nav__item--next {
	margin-left: auto;
}

/**
 * Footer navigation link
 */
.c-footer-nav__link {
	display: block;
	padding: 1rem;
	line-height: 1;
	color: $brand-primary-03;
	font-weight: 600;
	border-radius: $border-radius;

	&:hover, &:hover:focus {
		color: $color-gray-900;
		background-color: $color-gray-200;
	}
	&:focus {
		@include focus-outline();
	}
	&:active {

	}
}
