/*------------------------------------*\
    #HEADER
\*------------------------------------*/

/**
 * Global block at the top of each page containing the logo, global navigation, search, and other potential contents
 */
.c-header {
	position: relative;
	background: $color-white;
	border-bottom: 1px solid $color-gray-13;
	width: 100%;
	display: block;
	flex-shrink: 0;
}

/**
 * Header inner
 */
.c-header__inner {
	display: flex;
	align-items: center;
	justify-content: space-between;
  padding: 1rem;

  .c-logo {
  	img {
	  	height: 2rem;
	  	width: auto;
  	}
  }
}

/**
 * Header navigation button
 * 1) Button used to toggle the navigation on/off on small screens
 */
.c-header__nav-btn {
	margin-left: auto;

	@media all and (min-width: $bp-xl) {
		display: none;
	}
}