/*------------------------------------*\
  #NOTES
\*------------------------------------*/
.c-note {
  background: $note-background;
  border-radius: $border-radius;
  color: $note-color;
  font-size: $note-font-size;
  margin-left: 4px;
  padding: $note-padding;
  vertical-align: middle;
}

.c-note--negative {
  background-color: $color-utility-error;
}

.c-note--positive {
  background-color: $color-utility-success;
}

.c-note--caution {
  background-color: $color-utility-warning;
}
