/*------------------------------------*\
    #PAGE HEADER
\*------------------------------------*/
/**
 * 1) Container that consists of of a page header title and description
 */

/**
 * Page header title
 */
.c-page-header__title {
	margin-bottom: $pad-normal;
  font-size: $font-size-display;
  color: $brand-primary-03;
}

/**
 * Page description
 */
.c-page-header__desc {
  margin-bottom: $pad-spacious;
  font-size: $font-size-med-2;
  max-width: $l-max-width-narrow;
}
