/*------------------------------------*\
    #TEXT PASSAGE
\*------------------------------------*/

/**
 * 1) A passage of text, including various components (i.e. article, blog post)
 */
.c-text-passage {
	p {
		margin-bottom: $pad-normal;
		max-width: $l-max-width-narrow;
	}

	/**
	 * Link within the text passage
	 */
	a:not(.c-btn) {
		color: $brand-primary-03;
  	border-bottom: 1px solid $brand-primary-03;
  	transition: color $fade-quick ease-out, border-bottom $fade-quick ease-out;

		&:hover, &:hover:focus {
			color: $brand-primary-02;
	    border-bottom: 1px solid $brand-primary-02;
	    outline: none;
		}

		&:active, &:active:focus {
			color: $brand-primary-03;
	    border-bottom: 1px solid $brand-primary-03;
	    outline: none;
		}

		&:focus {
			@include focus-outline();
			outline-offset: $pad-tiny;
		}
	}

	/**
	 * Blockquote within text passage
	 */
	blockquote {
		padding: 2rem 2rem 1rem 3rem;
		font-size: 1rem;
		position: relative;

		&:before {
			content: "“";
			font-family: $font-icon;
			font-size: $font-size-jumbo;
			color: $color-gray-400;
			position: absolute;
			top: 1rem;
			left: 1rem;
		}
	 }

	 /**
	  * First-level heading within text passage
	  */
	 h1 {
		margin-bottom: $pad-normal;
		font-weight: $font-weight-thin;
	 }

	/**
	 * Second-level heading within text passage
	 */
	h2 {
		margin: $pad-large 0 $pad-medium;
		color: $brand-primary-03;
		font-weight: $font-weight-thin;
		position: relative;
    	padding-bottom: $pad-comfortable;

		&:after {
			content: "";
			bottom: 0;
			left: 0;
			position: absolute;
			background: $color-gray-400;
			height: 3px;
			width: 2.5rem;
		}
	}

	/**
	 * Third-level heading within text passage
	 */
	h3 {
		margin: $pad-spacious 0 $pad-medium;
		color: $brand-primary-03;
	}

	/**
	 * Fourth-level heading within text passage
	 */
	h4 {
		margin: $pad-spacious 0 $pad-medium;
		color: $brand-primary-03;
	}

	/**
	 * Fifth-level heading within text passage
	 */
	h5 {
		margin: $pad-spacious 0 $pad-medium;
	}

	/**
	 * Sixth-level heading within text passage
	 */
	h6 {
		margin: $pad-spacious 0 $pad-medium;
	}


	/**
	 * Unordered list within text passage
	 */
	ul {
		list-style: disc;
		margin-left: 1rem;
		margin-bottom: 1rem;

		li:last-child {
			margin-bottom: 0;
		}
	}

	/**
	 * Ordered list within text passage
	 */
	ol {
		list-style: decimal;
		margin-left: 1rem;
		margin-bottom: 1rem;

		li:last-child {
			margin-bottom: 0;
		}
	}

	li {
		margin-bottom: 0.5rem;
		line-height: 1.6;
	}
}
