<!DOCTYPE html>
<html>
	{% include head.html %}
	<body {% if page.body_class %}class="{{ page.body_class }}"{% endif %}>
		{% include header.html %}
		<div class="l-page-layout l-page-layout--two-column-fixed">
			<div class="l-page-layout__secondary">
				<div class="c-nav-container js-nav-panel">
					{% include primary-nav.html %}
				  <div id="js-nav-backdrop"
				     class="backdrop"
				     tabindex="-1"
				     aria-hidden="true" hidden></div>
				</div><!--end c-nav-container-->
			</div><!--end l-page-layout__secondary-->

			<div class="l-page-layout__main">
				{% if page.url == "/communication/email-signature" %}
					{% include banner.html 
   						text="Note: If you do business development, please contact a member of the Marketing Team or follow instructions [here](https://github.com/azavea/azavea-marketing/wiki/Creating-Tracking-Links-for-Better-Analytics) to get help with the links in your email signature!"
   						style="caution" %}
				{% endif %}
				<main role="main">
					{{ content }}
				</main><!--end role=main-->
				{% include footer.html %}
			</div><!--end l-page-layout__main-->
		</div><!--end l--two-column-fixed-->
	</body>
</html>
