/*------------------------------------*\
    #BUTTONS
\*------------------------------------*/

/**
 * Button and submit inputs reset
 * 1) These should be styled using c-btn
 */
button, input[type=submit] {
	cursor: pointer;

	&:focus {
    outline: none;
		box-shadow: 0 0 4px rgba($color-gray-100,0.15);
	}
}
