/*------------------------------------*\
    #LINKS
\*------------------------------------*/

/**
 * Link base styles
 */
 a {
  text-decoration: none;
  outline: 0;
 }
.l-page-layout__main a {

	&:hover, &:focus {
    outline: 0;
	}
}
