/*------------------------------------*\
    #LINKS
\*------------------------------------*/

/**
 * Link base styles
 */
 a {
  text-decoration: none;
  outline: 0;
  color: $link-color;
 }

.l-page-layout__main,
.l-home-layout__main {
  a {
    &:hover, &:focus {
      outline: 0;
    }
  }

  a:not(.c-btn):not(.c-card):not(.c-footer-nav__link) {
    text-decoration: none;
    outline: 0;
    box-shadow: none;
    border: 0;
    background-image: linear-gradient(rgba($brand-primary-02, 0.45), rgba($brand-primary-02, 0.45));
    background-position: 0% 100%;
    background-size: 100% 1px;
    background-repeat: no-repeat;

    &:focus, &.focus {
      border-radius: $border-radius;
      border-bottom-color: transparent;
    }

    &:hover, &.hover {
      background-image: linear-gradient(rgba($brand-primary-02, 0.8), rgba($brand-primary-02, 0.8));
    }

    &:active, &.active {
      box-shadow: none;
    }

    &:disabled, &.disabled {
      opacity: .5;
      cursor: not-allowed;
    }
}
}
