/*------------------------------------*\
    #MAIN ELEMENT
\*------------------------------------*/

/**
 * Main element
 */
[role=main] {
	display: block;
	flex: 1 0 auto;
	padding: $pad-spacious $pad-spacious;

  @media all and (min-width: $bp-xl) {
    padding-top: $pad-spacious;
  }
}
