/*------------------------------------*\
    # TEXT
\*------------------------------------*/

/**
 * Paragraph base styles
 */
p {
	margin-bottom: $space;
}

/**
 * Blockquote base styles
 */
blockquote {
  margin-bottom: $space;

  p {
    font-weight: $font-weight-normal;
    color: $brand-ink;
  }
}

/**
 * Horizontal rule base styles
 */
hr {
	border: 0;
    height: 1px;
    background: $color-gray-200;
    margin: 1rem 0;
}

/**
 * Selection styles
 */
::-moz-selection {
  background: $color-gray-200; /* Gecko Browsers */
}
::selection {
  background: $color-gray-200; /* WebKit/Blink Browsers */
}

/**
 * Code base styles
 */
code {
	display: inline-block;
	background: $color-gray-200;
	border: 1px solid $color-gray-200;
	padding: .2rem .5rem;
    line-height: 1.2;
    font-size: .85rem;
}

/**
 * Preformatted text base styles
 */
pre {
	background: $color-gray-200;
	border: 1px solid $color-gray-300;
	font-size: $font-size-med;
	padding: 1rem;
    overflow-x: auto;

	/**
	 * Remove border from code within preformatted text block
	 */
	code {
		border: 0;
	}
}

/**
 * Code with languages associated with them
 * 1) Override Prism sysles for code blocks with language
 */
code[class*="language-"],
pre[class*="language-"] {
    font-family:monospace !important;
}
